.container {
  width: 50%;
  padding: 0;
  margin: 0 auto;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoContainer {
    h1 {
      cursor: pointer;
      font-family: "Comfortaa", cursive;
      font-weight: bold;
      font-size: 1.3em;
      color: var(--primaryRed);
    }
  }

  .linkContainer {
    display: flex;
    align-items: center;

    .dropDown {
      display: none;
    }

    .navLink {
      display: flex;
      align-items: center;
      gap: 4em;
      img {
        width: 40px;
        border-radius: 50%;
      }

      a {
        font-size: 1.1em;
        font-family: "Spartan", sans-serif;
        font-weight: 500;
        transition: 0.2s all ease;
        cursor: pointer;

        &:hover {
          color: var(--primaryBlue);
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    justify-content: space-between;
    gap: 4em;

    .linkContainer {
      .navLink {
        a,
        img {
          display: none;
        }
      }
      .dropDown {
        display: inline-block;
        position: relative;
        margin: 0;

        .dropBtn {
          background-color: transparent;
          color: var(--primaryBlack);
          font-size: 2em;
          border: none;
          cursor: pointer;
          transition: 0.3s all ease;

          &:hover {
            color: rgb(39, 108, 211);
          }
        }

        .dropDownContent {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          width: 7em;
          padding: 1.2em 0;

          a {
            margin: 1em;
            font-family: "Spartan", sans-serif;
            color: #1a1a1a;
            text-decoration: none;
            display: block;
            transition: 0.1s all ease;
            cursor: pointer;

            &:hover {
              background-color: #f1f1f1;
            }
          }

          img {
            border-radius: 50%;
            width: 40px;
            text-align: center;
          }
        }

        &:hover {
          .dropDownContent {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .container {
    width: 90%;
    padding: 1em 0;
  }
}
