.container {
  width: 50%;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;

  .context {
      width: 100%;
    h1 {
      font-family: "Spartan", sans-serif;
      font-size: 3.2em;
      font-weight: 800;
      color: var(--primaryBlue);
    }

    p {
      font-family: "Poppins", sans-serif;
      color: var(--primaryBlack);

      span {
        font-weight: 500;
      }
    }
  }

  .action {
      width: 100%;

      h1 {
        font-size: 1.2em;
        font-family: "Poppins";
        font-weight: 500;
      }

      form {
          label {
              font-size: 1em;
          }
          input {
              background-color: var(--primaryBlack);
              font-size: 1em;
          }
          button {
            cursor: pointer;
            padding: 0.5em 1em;
            background-color: var(--primaryBlack);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1em;
            font-family: "Poppins";
            color: #fff;
            font-size: 1.1em;
            transition: 0.2s all ease;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      
            &:hover {
              transform: translateY(-3px);
              box-shadow: rgba(100, 100, 100, 0.3) 0px 4px 32px;
              color: var(--primaryBlue);
            }
          }
      }
  }
}

@media screen and (max-width: 1220px){
    .container {
        width: 70%;
        padding: 3em;
    }
}

@media screen and (max-width: 900px){
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 718px) {
    .container {
        display: grid;
        gap: 3em;
    }
}

@media screen and (max-width: 470px) {
    .container {
      .context {
        h1 {
          font-size: 2.5em;
        }
      }
    }
}